@import "../../../variables.scss";

.products-item {
  border: 2px solid $text-color1;
  border-radius: 20px;
  position: relative;
  box-sizing: border-box;
  padding: 109px 27px 27px 21px;

  .products-item-image {
    width: 192px;
    height: 118px;
    position: absolute;
    left: 0;
    right: 0;
    top: -59px;
    margin: 0 auto;
    transition: all 0.4s;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .products-item-title {
    font-size: 18px;
    font-family: Tavolga, sans-serif;
    color: $text-color1;
    text-align: center;
  }

  .products-item-extra {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 26px;

    .products-item-info {
      font-size: 15px;
      font-family: Gilroy, sans-serif;
      color: $text-color1;

      .products-item-count {
        margin-bottom: 14px;
      }
    }

    .products-item-btn {
      width: 130px;
      height: 50px;
      font-size: 16px;
      border-radius: 25px;
    }
  }

  &:hover {
    .products-item-image {
      transform: scale(1.1);
    }
  }
}

/* 1101 - 1198*/
@media screen and (max-width: 1198px) {
  .products-item-last {
    grid-column-start: 2;
    grid-column-end: 3;
  }
}

/* 425 - 610 */
@media screen and (max-width: 610px) {
  .products-item-last {
    grid-column-start: 1;
    grid-column-end: 2;
  }
}
