// Основные цвета темы
$theme-color1: #eba8b1;
$theme-color2: #ffefef;

// Цвета текста
$text-color1: #fff;
$text-color2: #331907;
$text-color3: #760c22;
$text-color4: #e3acb4;

// Остальные цвета
$menu-item-color: #770b1d;
$speech-color: #770a1d;
$box-shadow-color: #82132880;
